[user]
	name = Ozgur Ozturk
	email = ozgur@nozgurozturk.com
[github]
	user = nozgurozturk
[credential "https://githubv.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[gitlab]
 	user = nozgurozturk
[credential "https://gitlab.com"]
	helper = 
	helper = osxkeychain
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = nvim
	quotepath = false
	excludesfile = /Users/ozgurozturk/.gitignore
[init]
	defaultBranch = main
[push]
	default = current
[pull]
	rebase = false
[mergetool]
	keepBackup = true
[merge "ours"]
    driver = true
[commit]
	template = ~/.git-commit-template
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]
	st = status -sb
	br = branch
	co = checkout
	lo = log --graph --decorate --pretty=oneline --abbrev-commit
	loa = log --graph --decorate --pretty=oneline --abbrev-commit --all
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f